body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 2;
  }

  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid rgb(0, 0, 0);
    padding: 10px;
  }

  .head {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 20px solid black;
  }

 